*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: whitesmoke;
	padding: 15px;
}
footer {
	position: absolute;
	bottom: 0;
	padding: 10px 10px 10px 0;
}